{% extends 'base/base.html' %}
{% block content %}
    <div class="container text-white text-center p-3 mt-5" style="background-color: #1b1464;">
        <h1>Atualização de Dispositivo</h1>
    </div>
    <div class="container mt-5 shadow-lg p-3 mb-5 bg-white rounded border border-dark">
        <form id="form" action="{% url 'updDevice' id=registro.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" id="pk" value="0">
            <div class="form-group">
                <label for="nome">ID do Dispositivo</label>
                <input type="text" class="form-control" id="devId" name="devId" value="{{registro.devId}}" required>
            </div>
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" value="{{registro.nome}}" required>
            </div>
            <div class="form-group">
                <label for="celular">Endereço</label>
                <input type="text" class="form-control" id="endereco" name="endereco" value="{{registro.endereco}}" required>
            </div>
            <div class="form-group">
                <label for="email">Chave</label>
                <input type="text" class="form-control" id="chave" name="chave" value="{{registro.chave}}" required>
            </div>
            <div class="form-group">
                <label for="email">Ativo</label>
                <input type="text" class="form-control" id="ativo" name="ativo" value="{{registro.ativo}}" required>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <button class="btn btn-secondary ml-2" onclick="voltar()">Voltar</button>
        </form>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function voltar(){
            window.history.back()
        }
    </script>
    {% endblock %}